{% extends 'base.html' %}

{% block title %}
<title>Cities Page</title>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Add to base</h1>
    <form method="post">
        <input type="text" class="form-control" name="city_title" id="city_title" placeholder="Enter city title">
        <button class="btn btn-success" type="submit" name="submit" value="Add">Add entry to city database</button>
        <button class="btn btn-success" type="submit" name="submit" value="Delete">Delete entry from city database</button>
    </form>
</div>

<h2>City database list:</h2>
{% for el in data %}
<div class="alert alert-dark" role="alert">
            <div class="card-header">
                <a class="p-2 text-dark" href="/cities/{{el.id}}/streets">{{ el.city_title }}</a>
          </div>
</div>
{% endfor %}

{% endblock %}