{% extends 'base.html' %}

{% block title %}
<title>Add to base</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Do you want to drop the base</h1>
    <form method="post">
        <button class="btn btn-success" type="submit">DO IT</button>
    </form>
</div>

{% endblock %}