{% extends 'base.html' %}

{% block title %}
<title>Index page of site</title>
{% endblock %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">This is a main page of Cities Database</h1>
  <p class="lead">Use headers to go to DB content. Press "Cites". Yep.</p>
</div>
{% endblock %}