{% extends 'base.html' %}

{% block title %}
<title>Streets Page </title>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Add entry to base of {{ linked_city }} City</h1>
    <form method="post">
        <input type="text" class="form-control" name="street_title" id="street_title" placeholder="Enter street title">
        <button class="btn btn-success" type="submit" name="submit" value="Add">Add entry to street database</button>
        <button class="btn btn-success" type="submit" name="submit" value="Delete">Delete entry from street database</button>
    </form>
</div>


<h2>Street database list:</h2>
{% for el in data %}
<div class="alert alert-dark" role="alert">
            <div class="card-header">
            <h5 class="my-0 font-weight-normal">{{ el.street_title }} </h5>
          </div>

</div>
{% endfor %}

{% endblock %}